$main-clean: #ffffff;
$main-blue: #478BF9;
$main-navy: #110A1D;
$additional: #9DADF2;
$main-deep: #1E1231;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    list-style: none;
    background-color: $main-navy;
    color: $main-clean;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn {
    border-radius: 24px;
    border: 2px solid $additional;
    padding: 14px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}
html, body {
    scrollbar-color: #478BF9 #FFFFFF1F;  /* толщина */
}

@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
